.shower {
  --accent: #3a2d72;
}

.shower .caption h1 {
  line-height: 1.2;
}
.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
}

.text.slide {
  padding-top: 3em;
}
.text.slide p {
  font-size: 2.5em;
  line-height: 1.33;
  margin: .5em 0 .5em;
  font-weight: bold;
  color: var(--accent);
}

.slide.cover h2 {
  text-shadow: -1.5px -1.5px 0 white,
                1.5px -1.5px 0 white,
               -1.5px  1.5px 0 white,
                1.5px  1.5px 0 white;
}
.dark.slide.cover h2 {
  color: var(--accent);
  box-shadow: 0 0 100px white;
  background-color: rgba(255, 255, 255, .5);
}

.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child,
.slide ul + figure.cover.height.margin > :first-child {
  height: 75%;
}

.faded {
  opacity: .2;
  filter: contrast(1.1);
}

.grayscale img {
  filter: grayscale(100%);
}

.logo.slide img {
  width: 66% !important;
}

#solidlab {
  background: #292F4D;
}

.shower .label {
  position: absolute;
  display: block;
  background-color: rgba(255,255,255,.8);
  border-radius: 15px;
  color: black;
  padding: 10px;
}
.shower .label * {
  color: black;
}

.slide.story .label {
  color: var(--accent);
  background: none;
  font-weight: bold;
  text-shadow:
    0 0 200px rgba(255, 255, 255, .5),
    0 0 15px white;
  left: 40px;
}
.slide.story .label.year {
  top: 64px;
  font-size: 4em;
}
.slide.story .label.item {
  top: 160px;
  font-size: 2em;
}
.slide.story .label.distance {
  top: 230px;
  font-size: 1.66em;
}

.dark.slide {
  background: black;
}
