.shower {
  --accent: #3a2d72;
}

.shower .caption h1 {
  line-height: 1.2;
}
.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
}

.title.slide h2 {
  margin: 30px 0;
  font-size: 4.7em;
  line-height: 0.9;
  font-style: all-caps;
}
.title.slide h2:first-line {
  letter-spacing: .02em;
}

.text.slide p {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 3em 0 1.5em;
  font-weight: bold;
  color: var(--accent);
}

.shower {
  --accent: #3a2d72;
}

.shower .caption h1 {
  line-height: 1.2;
}
.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
}

.text.slide {
  padding-top: 1em;
}
.text.slide > p {
  color: var(--accent);
  font-weight: bold;
  font-size: 2em;
  line-height: 1.33;
}

.slide.cover h2 {
  text-shadow: -1.5px -1.5px 0 white,
                1.5px -1.5px 0 white,
               -1.5px  1.5px 0 white,
                1.5px  1.5px 0 white;
}
.dark.slide.cover h2 {
  color: var(--accent);
  box-shadow: 0 0 100px white;
  background-color: rgba(255, 255, 255, .5);
}

.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child,
.slide ul + figure.cover.height.margin > :first-child {
  height: 75%;
}

.faded {
  opacity: .2;
  filter: contrast(1.1);
}

.grayscale img {
  filter: grayscale(100%);
}

.logo.slide img {
  width: 66% !important;
}
#inrupt img {
  width: 50% !important;
}

#solidlab {
  background: #292F4D;
}
